* {
  font-family: Arial;
}
.logo {
  width: 100px;
  margin: auto auto 10px auto;
  display: block;
}
.info {
  max-width: 730px;
  margin: auto;
  margin-top: 19px;
  display: block;
  font-size: 12px;
  line-height: 27px;
  font-weight: 300;
  text-align: justify;
  font-weight: 400;
}
.title {
  font-size: 15px;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}
.search {
  border-radius: 5px;
  border: 1px solid !important;
  width: 390px;
  max-width: 95%;
  padding: 18px;
  text-align: center;
}
.items img {
  width: 100%;
}
.pagenum span {
  cursor: pointer;
}
.items > div > div {
  position: relative;
  cursor: pointer;
}
.apeid {
  position: absolute;
  left: 15px;
  top: 15px;
  opacity: 0.9;
}
.boldfont {
  font-weight: 900;
}
.selection {
  max-width: 390px;
  margin: auto;
  display: block;
}
.opacitylow {
  opacity: 0.5;
}
.connectbutton {
  font-size: 18px;
  font-weight: 800;
  width: 390px;
  max-width: 95%;
}
a {
  color: #000;
}
.AAA {
  padding-top: 64px;
}
